table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

a {
  cursor: pointer;
  color: goldenrod;
  text-decoration: underline;
  padding-right: 3px;
}

#delete {
  color: lightcoral;
}

.mat-form-field {
  padding-top: 10px;
}

