/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 2rem; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
    text-align: center;
    color: #223322;
}